NODE_ENV=production
# Azure AD / M365
AZURE_CLIENT_ID=****
AZURE_CLIENT_SECRET=****
AZURE_TENANT_ID=****
REDIRECT_URI=https://domain.example.com/api/auth/callback

# CardDAV / Nextcloud
CARDDAV_URL=https://nextcloud.example.com/
CARDDAV_USERNAME=user
CARDDAV_PASSWORD=password

# Session
SESSION_SECRET=*******

# CORS
CORS_ORIGIN=https://domain.example.com

WHITELISTED_IPS=x.x.x.x

# Logging
LOG_LEVEL=info
